/* Establecer el fondo de la página y la fuente por defecto */
body {
    background-color: #f4f7f6;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 70px;
}

/* Barra de navegación */
.navbar-links {
    display: flex;               /* Usamos Flexbox para alinear los enlaces */
    justify-content: center;     /* Centra los enlaces horizontalmente */
    align-items: center;         /* Centra los enlaces verticalmente */
    gap: 30px;                   /* Espaciado entre los enlaces */
    background-color: #f4f7f6;  /* Color de fondo */
    padding: 10px;
    position: fixed;  /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;  /* Asegura que la barra esté por encima de otros elementos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    width: 100%;  /* Asegura que ocupe todo el ancho de la página */
}

/* Estilo de los enlaces en la página de inicio (Home) */
.home-links {
    display: flex;  /* Flexbox para alinear los enlaces */
    justify-content: center;  /* Alineación horizontal */
    gap: 50px;  /* Espaciado entre los enlaces */
    margin-top: 50px;  /* Margen superior */
    text-align: center;  /* Asegura que el texto esté centrado */
}

/* Estilo para los enlaces de navegación en la página de Survival Analysis */
.home-link {
    color: #ffffff;  /* Color blanco para el texto */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #1abc9c;  /* Fondo verde */
    transition: background-color 0.3s ease;  /* Transición suave para el cambio de color */
}

/* Efecto hover para cambiar el color de fondo a un tono claro */
.home-link:hover {
    background-color: #1abc9c;  /* Fondo verde claro */
    color: #333;  /* Cambia el texto a un color más oscuro */
    cursor: pointer;
}

/* Títulos generales */
h1 {
    color: #2c3e50;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

/* Estilo para los textos y párrafos */
p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 20px 0;
}

/* Gráficos */
.dash-graph {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #1abc9c;  /* Borde azul alrededor de los gráficos */
}

/* Personalización de las tablas */
.dash-table-container {
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
}

/* Botones y controles */
button, .dcc-radio {
    background-color:#1abc9c; 
    color: white;
    border: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
}

button:hover, .dcc-radio:hover {
    background-color: #16a085; 
    cursor: pointer;
}

.navbar-link {
    color: #16a085;  /* Color de los enlaces */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

/* Efecto hover para los enlaces de navegación */
.nav-links a:hover {
    color: #fff;
    background-color: #16a085;
    cursor: pointer;
}

/* Estilo de la tabla con barra de desplazamiento */
#data-table {
    max-height: 400px;
    overflow-y: auto;
}
